<!DOCTYPE html>
<html>
<head>
	<title>Mash's Animal Sanctuary</title>
</head>
<body>
	<h1> Mash's Animal Sanctuary </h1>
	<a href="/animals/new">Donate a new creation</a>

	<%= yield %>

</body>
</html>